{
  "train_data_path" : "train.txt",
  "test_data_path" : "devwithoutlabels.txt",
  "solution_path" : "test.txt",
  "glove_dir" : "./",
  "num_folds" : 2,
  "num_classes" : 4,
  "max_nb_words" : 20000,
  "max_sequence_length" : 100,
  "embedding_dim" : 300,
  "batch_size" : 200,
  "lstm_dim" : 300,
  "learning_rate" : 0.001,
  "dropout" : 0.2,
  "num_epochs" : 10
}